a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
        .clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
        .visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

      /* GLOBAL STYLE */
        /* Strip all spacing from elements */

        *{ 
            padding: 0%;
            margin: 0%;
            
        }

        html{
            font-size: 62.5%;

        

        }

        body{ 
            
        }

        ul{ 
            list-style: none;
        }

        a{ 
            font-family: 'Catamaran', sans-serif;
            text-decoration: none;
            color: #ffffff;
             
        }

        img{
            width:100%;
            height: auto;
            display: block;
        }
        figure{
            margin: 0; 
        }
        
        h1{
             font-family: 'Pacifico', cursive;
             font-size: 7rem;
             color: #f2a11c ;
        }

        h2{ 
            font-size: 4rem;
        }

        p{
            font-size: 2.2rem;
        }

        .wrapper{ 
            max-width: 1280px;
            width: 100%; 
            margin: 0 auto;
        }

        .read-more{
            font-family:'Catamaran', sans-serif;;
            font-size: 2rem;
            color: #f2a11c;
            background-color: #1f2022;
            padding: 10px 15px;
        }

        i{
            color:#f2a11c ;
        }

        /* HEADER STYLES */

        header{
            background-image: url(./biker-land-assets/image-1.jpg);
            min-height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            padding: 40px 0;
        }

        h1{
            text-align: center; 
            margin: 0 auto;
          
        }

        

        header nav {
            text-align: center;
        }

        header li {
            display: inline-block;
            margin: 0 10px;
        }

        header a{ 
            font-size: 3rem;
            padding: 15px 30px;
        }

        header a:hover, 
        header a:focus {
            border: 3px solid #ffffff; 
        }
        /* MAIN STYLES */

        main section{ 
            padding: 80px 0;
        }
        /* ABOUT STYLES */
        .about{ 
            background-color: #f4f4f4;
            margin-bottom: 100px;
            border: 2px solid tomato;
        

        }

        .about figure, 
        .aboutSummary{ 
            float: left;
        }

        .about figure{ 
            margin-right: 30px;
            width: calc( 40% - 30px);
        }

        .aboutSummary{ 
            width: 50%; 
        }

        .aboutSummary h2, 
        .about p {
            margin-bottom: 30px;
        }

/* GALLERY STYLES */

        .gallery{
            background-image: url(./images/blue-trees.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }

        .gallery h2{
            text-align: center;
            margin-bottom: 50px;
        }

        .gallery li {
            float: left;
            margin-right: 30px;
            margin-bottom: 30px;
            width: calc((100% - 60px) / 3);
        }

        /* Remove the margin right from the 3rd image in the gallery */

        .gallery li:nth-child(3n){
            margin-right: 0;

        }


        /* FOOTER STYLES */

        footer{ 
            background-color: #324659;
            padding: 30px 0;
            text-align: center;
        }

        